/* quick reset so all our padding is the right size */
* {
    box-sizing: border-box;
}

/* add some spacing */
body {
    background: #F6F6F6;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* limit the width and center */
.calculator {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
}

.calculator-buttons {
    /* small spacing within our container */
    padding: 1%;

    /* the grid stuff! */
    display: grid;

    /* create 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* add the grid gap */
    grid-gap: 3%;
}

/* span across 3 columns */

.is-screen {
    grid-column: span 4;
}

/* go blue */
.is-clear {
    background: #3572DB;
}

.is-equals {
    background: #28D060;
}
